body {
    background-color: #eeeeee;
    }
    h2 {
    text-align: center;
    color: rgb(18, 12, 12);
    background-color: rgb(157, 129, 162);
    padding: 20px;
    width: 600px;
    margin: 0 auto 20px auto;
    border-radius: 5px;
    }
    table {
    width: 660px;
    margin: auto;
    background-color: #ae91bc;
    }
    input {
    background-color: #eef2f8;
    }
    h3{
        text-align: center;
    }
    